= stylesheet_link_tag 'shoppe_subscriptions/application'
= javascript_include_tag 'shoppe_subscriptions/application'

= form_for @subscriber_gift do |f|
  = f.error_messages

  = field_set_tag t('shoppe.gifts.subscriber_gifts') do
    .splitContainer
      %dl.third
        %dt= f.label :product, t('shoppe.gifts.product')
        %dd
          = f.collection_select :product_id, @products, :id, :full_name, {include_blank: true}, {class: 'chosen-with-deselect', data: {placeholder: t('shoppe.gifts.select_product')}}
      %dl.third
        %dt= f.label :product, t('shoppe.gifts.subscriber')
        %dd
          = f.collection_select :subscriber_id, @subscribers, :id, :full_name, {include_blank: true}, {class: 'chosen-with-deselect', data: {placeholder: t('shoppe.gifts.select_subscriber')}}
      %dl.third
        %dt= f.label :product, t('shoppe.gifts.subscriber')
        %dd.checkbox
          = f.check_box :claimed
          = f.label :active,  t('shoppe.gifts.claimed')


  %p.submit
    - unless @subscriber_gift.new_record?
      %span.right= link_to  t('shoppe.delete'), [@subscriber_gift], :class => 'button purple', :method => :delete, :data => {:confirm => t('shoppe.gifts.delete_confirmation')}
    = f.submit t('shoppe.submit'), :class => 'button green'
    = link_to t('shoppe.cancel'), :subscriber_gifts, :class => 'button'
