- @page_title = t('shoppe.gifts.gifts') + " - #{@gift.name}"
= content_for :header do
  %p.buttons
    = link_to t('shoppe.gifts.new_gift'), [:new, @gift, :address], class: "button"
    = link_to t('shoppe.gifts.edit'), [:edit, @gift], class: "button"
  %h2.users= t('shoppe.gifts.gifts') + "- #{@gift.name}"
